#pizzaList{
    margin-top: 75px;   
}

#small_pizza{  
    margin-top: 15px;
    margin-left: 85px;
}

#medium_pizza{
    margin-left: -65px;
    margin-bottom: 40px;
}

#large_pizza{
    margin-left: -15px;
    margin-bottom: 94px;
}
nav{
    background-color: #ff3039;
    overflow: hidden;
    /* position: fixed; */
    height: 50px;
    width: 100%;
}

#navlist{
    text-decoration: none;
}


.navItem{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 15px;
    padding-right: 20px;
    color: #fff;
    float: left;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    background-color: #fff;
    color: #ff3039;
}

#navCompany{
    margin-top: 10px;
    margin-right: 700px;
    font-size: 25px;
}

#extra_large_pizza{
    margin-left: -50px;
    margin-bottom: 150px;
}

.btn {
    border: 2px solid #000;
    width: 150px;
    height: 150px;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
    user-select: none;
    float: left;
  }
  
  #container{
    max-width: 775px;
    margin-top: -350px;
    /* position: relative; */
    /* top: 125px; */
  }

  .top_pizza_toppings{
      margin-top: 50px;
      /* position: relative; */
      /* top: 100px; */
      margin-left: 875px;
      width: 200px;
      height: 200px;
      position: absolute;
  }

  .current_pizza_toppings{
    margin-top: 50px;
    /* position: relative; */
    /* top: 100px; */
    margin-left: 875px;
    width: 200px;
    height: 200px;
    position: absolute;
}

  .left_pizza_toppings{
    margin-top: 50px;
    /* position: relative; */
    /* top: 100px; */
    margin-left: 875px;
    width: 125px;
    height: 200px;
    position: absolute;
}

.right_pizza_toppings{
    margin-top: 50px;
    /* position: relative; */
    /* top: 100px; */
    margin-left: 935px;
    width: 125px;
    height: 200px;
    position: absolute;
}


  #topping_list{
      margin-top: 200px;
      margin-left: 900px;
      text-align: center;
      border: 1px solid #000;
      width: 150px;
      height: 200px;
      overflow: auto;
      display: block;
  }
  #toppings{
      margin-top: 15px;
  }
  .button_container{
      border-radius: 5px solid #000;
  }

  #proceed-btn{
      margin-left:990px;
      margin-top: -150px;  
  }

  #totalPrice{
      margin-left:1000px;
  }


  .default_pizza{
      /* position: static; */
      left: 150px;
      margin-bottom: 50px;
      width: 150px;
      max-height: 250px;
      border: 2px solid #000;
      text-align: center;
      float: left;
      margin-left: 50px;
  }

  .default_price{
      border: 1px solid #000;
      margin-top: 15px;
      padding: 15px;
  }

  #defaults{ 
      margin-left: 100px;
      display: block;
      margin-top: 150px;
  }

  .reciept {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.recieptList {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.side_buttons{
    width: 25px;
    height: 25px;
}